<div class="main-section__title">
  <i class="icon icon--xs icon--blue icon--circled mdi mdi-keg"></i>
  Add New Machine
</div>

<form name="newMachine.form" ng-submit="newMachine.submit()">

<formly-form model="newMachine.machine" fields="newMachine.formFields">

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="newMachine.abort()" lx-ripple>
        <i class="mdi mdi-chevron-left"> Back</i>
      </button>
    </div>
    <div class="toolbar__right">
      <button type="submit"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Add New Machine
      </button>      
    </div>
  </div>
</div>

</formly-form>
</form>
