<div class="main-section__title">
  <i class="icon icon--xs icon--blue icon--circled mdi mdi-settings"></i>
  Add New Part
</div>

<form name="newPart.form" ng-submit="newPart.submit()">

<formly-form model="newPart.part" fields="newPart.formFields">

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="newPart.abort()" lx-ripple>
        <i class="mdi mdi-chevron-left"> Back</i>
      </button>
    </div>
    <div class="toolbar__right">
      <button type="submit"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Add New Part
      </button>      
    </div>
  </div>
</div>

</formly-form>
</form>
