<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='partLogDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Recent Parts Activity
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>
    </div>

    <div class="data-table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th> Event</th>
            <th> Date</th>
            <th> Description</th>
            <th> IP Address</th>
            <th> By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-table"
              ng-class="Parts.logClass(l)"        
              ng-click="Parts.goAudit(l)"
              ng-repeat="l in Parts.getSelectedLogs()">
                <td>{{l.Type}}</td>
                <td>{{l.Logdate}}</td>
                <td>{{l.Descr}}</td>
                <td>{{l.IP}}</td>
                <td>{{l.Username}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</lx-dialog>

<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-settings"></i>
      <span class="fs-title">Parts List</span>
      <lx-search-filter model="searchPart"></lx-search-filter>
    </div>

    <div class="data-table-header__actions">
      <lx-dropdown position="right" over-toggle="true">
        <button class="btn btn--l btn--blue btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi-dots-vertical"></i>
        </button>

        <lx-dropdown-menu>
          <ul>
              <li><a class="dropdown-link" ui-sref="admin.newpart">New Part</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="Parts.showLogs()">Show Selected Logs</a></li>
              <li><a class="dropdown-link" ng-click="Parts.deleteSelected()">Delete Selected</a></li>
          </ul>
      	</lx-dropdown-menu>
  		</lx-dropdown>
     </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th><i class="icon icon--m mdi mdi-check"></i></th>
        <th><a ng-click="Parts.setSort('StockCode')"> StockCode</a></th>
        <th><a ng-click="Parts.setSort('Descr')"> Description</a></th>
        <th><a ng-click="Parts.setSort('ReorderStocklevel')"> Re Order Levels</a></th>
      </tr>
    </thead>

    <tbody>
      <tr class="data-table__selectable-row"
      		ng-class="Parts.getClass(row)"
      		ng-repeat="row in Parts.parts | filter:searchPart | orderBy:Parts.sortField:Parts.sortDir"
      		ng-click="Parts.clickEdit(row)"> 
            <td ng-click="Parts.clickedRow(row); $event.stopPropagation()"></td>          
            <td><a>{{row.StockCode}}</a></td>
            <td><a>{{row.Descr | limitTo:64}}</a></td>
            <td>{{row.ReorderStocklevel}} / {{row.ReorderQty}} (@ ${{row.LatestPrice}} {{row.QtyType}})</td>
      </tr>
    </tbody>
  </table>
</div>
