<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='siteLogDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Recent Site Activity
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>
    </div>

    <div class="data-table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th> Event</th>
            <th> Site</th>
            <th> Date</th>
            <th> Description</th>
            <th> IP Address</th>
            <th> By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-table"
              ng-class="Sites.logClass(l)"   
              ng-click="Sites.goAudit(l)"                   
              ng-repeat="l in Sites.getSelectedLogs()">
                <td>{{l.Type}}</td>
                <td>{{l.RefID}}</td>
                <td>{{l.Logdate}}</td>
                <td>{{l.Descr}}</td>
                <td>{{l.IP}}</td>
                <td>{{l.Username}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</lx-dialog>


<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-factory"></i>
      <span class="fs-title">Site List</span>
    </div>

    <div class="data-table-header__actions">
      <lx-dropdown position="right" over-toggle="true">
        <button class="btn btn--l btn--blue btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi-dots-vertical"></i>
        </button>

        <lx-dropdown-menu>
          <ul>
              <li><a class="dropdown-link" ui-sref="admin.newsite">New Site</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="Sites.showLogs()">Show Selected Logs</a></li>
              <li><a class="dropdown-link" ng-click="Sites.deleteSelected()">Delete Selected</a></li>
          </ul>
      	</lx-dropdown-menu>
  		</lx-dropdown>
     </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th><i class="icon icon--m mdi mdi-check"></i></th>      
        <th><a ng-click="Sites.setSort('Name')"> Name</a></th>
        <th><a ng-click="Sites.setSort('ParentSiteName')"> Parent</a></th>
        <th><a ng-click="Sites.setSort('Address')"> Address</a></th>
      </tr>
    </thead>

    <tbody>
      <tr class="data-table__selectable-row"
      		ng-class="Sites.getClass(row)"
      		ng-repeat="row in Sites.sites | orderBy:Sites.sortField:Sites.sortDir"
      		ng-click="Sites.clickEdit(row)"> 
            <td ng-click="Sites.clickedRow(row); $event.stopPropagation()"></td>
            <td><a>{{row.Name}}</a></td>
            <td><a ng-click="Sites.goParent(row)">{{row.ParentSiteName}}</a></td>
            <td><a ng-if="row.Address != ''" href="{{Sites.getMapURI(row.Address)}}" target="googlemaps">
              <i class="mdi mdi-map"></i><p>
              {{row.Address}}
            </a></td>
      </tr>
    </tbody>
  </table>
</div>
