<lx-dialog class="dialog dialog__scrollable dialog--l bgc-light-gradient" id='userLogDialog' escape-close="true">
    <div class="dialog__header">
        <div class="toolbar bgc-indigo-800 pl++">
            <span class="toolbar__label tc-white fs-title">
                Recent User Activity
            </span>       
            <span lx-dialog-close class="white">X</span>     
        </div>
    </div>

    <div class="data-table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th> Event</th>
            <th> UserName</th>
            <th> Date</th>
            <th> Description</th>
            <th> IP Address</th>
            <th> By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-table"
              ng-class="Users.logClass(l)"        
              ng-click="Users.goAudit(l)"
              ng-repeat="l in Users.getSelectedLogs() track by $index">
                <td>{{l.Type}}</td>
                <td>{{l.Username}}</td>
                <td>{{l.Logdate}}</td>
                <td>{{l.Descr}}</td>
                <td>{{l.IP}}</td>
                <td>{{l.Username}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</lx-dialog>

<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-account"></i>
      <span class="fs-title">Users List</span>
    </div>

    <div class="data-table-header__actions">
      <lx-dropdown position="right" over-toggle="true">
        <button class="btn btn--l btn--blue btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi-dots-vertical"></i>
        </button>

        <lx-dropdown-menu>
          <ul>
              <li><a class="dropdown-link" ui-sref="admin.newuser">New User</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="Users.showLogs()">Show Selected Logs</a></li>
              <li><a class="dropdown-link" ng-click="Users.deleteSelected()">Delete Selected</a></li>
          </ul>
      	</lx-dropdown-menu>
  		</lx-dropdown>
     </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th><i class="icon icon--m mdi mdi-check"></i></th>
        <th class="data-table__sortable-cell data-table__sortable-cell--desc">
          <a ng-click="Users.setSort('UserName')"><i class="mdi mdi-account"></i></a></th>
        <th><a ng-click="Users.setSort('Role')"> Role</a</th>
        <th><a ng-click="Users.setSort('Name')"> Name</a></th>
        <th><a ng-click="Users.setSort('Email')"> <i class="mdi mdi-email"></i>Email</a></th>
        <th><a ng-click="Users.setSort('SiteName')"> <i class="mdi mdi-factory"></i>Site</a></th>
      </tr>
    </thead>

    <tbody>
      <tr class="data-table__selectable-row"
      		ng-class="Users.getClass(row)"
      		ng-repeat="row in Users.users | orderBy:Users.sortField:Users.sortDir"
      		ng-click="Users.clickEdit(row)"> 
            <td ng-click="Users.clickedRow(row); $event.stopPropagation()"></td>
            <td><a>{{row.Username}}</a></td>
            <td>{{row.Role}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.Email | limitTo:16}}..</td> 
            <td><a ng-click="Users.goSite(row); $event.stopPropagation()"lx-ripple> {{row.SiteName}}</a>
      </tr>
    </tbody>
  </table>
</div>
