<!-- Banner -->
<div class="banner">
    <div class="banner__logo">
        <!-- <img src="/img/factory-equip1.jpg"> -->
        <!-- <img src="/img/factory-equip2.jpg"> -->
        <!-- <img src="/img/factory-equip3.jpg"> -->
        <!-- <img src="/img/sbs01.jpg"> -->
        <!-- <img src="/img/sbs02.jpg"> -->
        <!-- <img src="/img/sbs03.jpg"> -->
        <!-- <img src="/img/sbs04.jpg"> -->
        <img src="/img/sbs01.jpg">
    </div>

    <h1 class="banner__subtitle">
    	CMMS
    </h1>
    <h3 class="banner__subtitle">
    	Facilities Management
    </h3>
    <div class="banner__stripe"></div>
</div>