<div class="main-section__title">
  <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-settings"></i>
  Part Details - {{editPart.part.Name}} {{editPart.part.StockCode}}
</div>

<form name="editPart.form" ng-submit="editPart.submit()">

<formly-form model="editPart.part" fields="editPart.formFields">

<div flex-container="row">
  <div class="toolbar">
    <div class="toolbar__left">
      <button type="button" class="btn btn--l btn--blue-grey btn--raised" ng-click="editPart.abort()" lx-ripple>
        <i class="mdi mdi-chevron-left"> Back</i>
      </button>
    </div>
    <div class="toolbar__right">
      <button type="submit" ng-if="editPart.canEdit()"
              class="btn btn--l btn--blue btn--raised" 
              lx-ripple>
                Save Details
      </button>      
    </div>
  </div>
</div>

</formly-form>
</form>

<div class="card">
  <lx-tabs>
    <lx-tab heading="Tool Usage">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Used by Tool #</th>
              <th> Tool Name</th>
              <th> Machine</th>
              <th> Site</th>
              <th> Qty Used</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-click="editPart.goTool(row)"
                ng-repeat="row in editPart.components">
                  <td><a>{{row.StockCode}}</a></td>
                  <td><a>{{row.Name}}</a></td>
                  <td><a ng-click="editPart.goMachine(row)">{{row.MachineName}}</a></td>
                  <td><a ng-click="editPart.goSite(row)">{{row.SiteName}}</a></td>
                  <td>{{row.Qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>

    <lx-tab heading="Notes">
      <div class="card">
        <textarea ng-wig="editPart.part.Notes"></textarea>
      </div>   
    </lx-tab>

    <lx-tab heading="Documents">
    <form>
      <div flex-container="row" flex-gutter="24">
        <div flex-item="5">
          <lx-text-field label="Description" >
            <input type="text" ng-model="editPart.doc">
          </lx-text-field>
        </div>
      </div>
      <div flex-container="row" flex-gutter="24">
          <div flex-item="10">
            <lx-file-input label="Upload New Document ..." value="filename" change="editPart.upload(e)"></lx-file-input>
          </div>
          <div flex-item="2">
            <div id="upload-progress">{{editPart.uploadProgress}}</div>          
          </div>
      </div>
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Name</th>
              <th> File</th>
              <th> Size</th>
              <th> Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-repeat="row in editPart.docs">
                  <td>{{row.Name}}</td>
                  <td>
                    <a ng-href="doc/{{row.ID}}" 
                       target="_doc">
                      {{row.Filename}}
                    </a>
                  </td>
                  <td>{{row.Filesize}}</td>
                  <td>{{row.Created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    </lx-tab>

    <lx-tab heading="Suppliers">
      <div class="data-table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th> Supplier</th>
              <th> Address</th>
              <th> Supplier Part #</th>
              <th> Latest Price</th>
            </tr>
          </thead>
          <tbody>
            <tr class="data-table"
                ng-click="editPart.goVendor(row)"
                ng-repeat="row in editPart.parts">
                  <td>{{row.Name}}</td>
                  <td>{{row.Descr}}</td>
                  <td>{{row.VendorCode}}</td>
                  <td>{{row.LatestPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </lx-tab>


    <lx-tab heading="StockTake">
    </lx-tab>

  </lx-tabs>
</div>

