<div class="data-table-container">
  <header class="data-table-header">
    <div class="data-table-header__label">
      <i class="icon icon--xs icon--blue-grey icon--circled mdi mdi-factory"></i>
      <span class="fs-title">Site List</span>
    </div>
  </header>

  <table class="data-table">
    <thead>
      <tr>
        <th><a ng-click="Sites.setSort('Name')"> Name</a></th>
        <th><a ng-click="Sites.setSort('ParentSiteName')"> Parent</a></th>
        <th><a ng-click="Sites.setSort('Address')"> Address</a></th>
        <th><a ng-click="Sites.setSort('Phone')"> Phone/Fax</a></th>
      </tr>
    </thead>

    <tbody>
      <tr class="data-table"
      		ng-class="Sites.getClass(row)"
      		ng-repeat="row in Sites.sites | orderBy:Sites.sortField:Sites.sortDir"
      		ng-click="Sites.clickEdit(row)"> 
            <td><a>{{row.Name}}</a></td>
            <td><a ng-click="Sites.goParent(row)">{{row.ParentSiteName}}</a></td>
            <td><a ng-if="row.Address != ''" href="{{Sites.getMapURI(row.Address)}}" target="googlemaps">
              <i class="mdi mdi-map"></i><p>
              {{row.Address}}
            </a></td>
            <td>{{row.Phone}}<br>{{row.Fax}}</td>
      </tr>
    </tbody>
  </table>
</div>
